<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Air Pollution</title>
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
</head>
<body onload="fetchAQI()">
    <header class="headerDataPage">
        <h2>AQI Search</h2>
        <div class="fade-in search searchDataPage">
            <button id="getData"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button></i><input id="autocomplete" type="text" placeholder="Enter Location"><i class="fa-solid fa-location-dot"></i>
        </div>
    </header>
    <section class="aqiStation">
        <h2>Air Quality at <span id="actualAddress"></span></h2>
        <h5>The closest AQI center is located in <span id="closestStation"></span></h5>
    </section>
    <footer>
        <h5>@miskocodes by Matthew Miskovsky</h5>
        <h5><i class="fa-brands fa-github"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-linkedin"></i></h5>
    </footer>
        
    <script src="js/main.js"></script>
</body>
</html>