<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Air Pollution</title>
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <script async
    src='https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap'>
</script>
</head>
<body>
    <header class=>
        <section class="headerContainer">
            <h1 class="fade-in">Is your air quality acceptable?</h1>
            <p class="fade-in">Find out the AQI (Air Quality Index) each day by searching below.</p>
            <div class="fade-in search">
                <button id="getData"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button></i><input id="autocomplete" type="text" placeholder="Enter Location"><i class="fa-solid fa-location-dot"></i>
            </div>
        </section>
    </header>
    <section class="aqiInfo">
        <h3>What is the U.S. Air Quality Index (AQI)?<br><span class="aqiInfoSpan">Is the environment safe?</span></h3>
        <p>AQI values range from 0 to 500. The lower the value, the better, as this indicates that there is less pollution in the air. However, a high AQI value indicates a high level of pollution. The greater the value, the greater the health concern.</p>
        <p>So what is a good AQI value? Well, the range varies. An AQI value of 50 or below indicates that the air quality is satisfactory and poses little to no risk. Moderate air quality has an AQI value of 51 through 100 and really is only a risk to those with unusual sensitivity to air pollution. As you approach an AQI value of 101+, members of sensitive groups may begin to experience health effects. If you would like to learn more about these values and who is likely to be affected, please click here.</p>
    </section>
    <section class="pollutionContainer">
        <div class="pollutionPicContainer"><img class="pollutionPic" src="/photos/pollution.jpg"></div>
        <div class="pollutionInfo">Air pollution is the release of pollutants into the air. These pollutants are detrimental not only to human health, but the planet as well. Exposure to high levels of air pollution can cause heart disease, inflammation in cells, lung cancer, ozone layer reductions, and much more. It is easy to pay the AQI no mind, but it is important to know how the local air quality impacts your health. </div>
    </section>
    <footer>
        <h5>@miskocodes by Matthew Miskovsky</h5>
        <h5><i class="fa-brands fa-github"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-linkedin"></i></h5>
    </footer>
        
    <script src="js/main.js"></script>
</body>
</html>